@import url('https://fonts.google.com/specimen/Poetsen+One');{}
body {
    font-family: Helvetica, sans-serif;
    max-width: 960px; 
    padding: 20px; 
}


:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #0b0d07;
    --heading-font: Helvetica, sans-serif;
    --paragraph-font: 'Arial', sans-serif;
    --navigation-background-color: #fff;
    --navigation-link-color: #000;
    --navigation-hover-link-color: #396e94;
    --navigation-hover-background-color: #e7c24f;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font); 
    color: var(--primary-color); 
}


header {
    padding: 10px;
    background-color: var(--secondary-color); 
}


p {
    padding: 10px;
}


nav {
    background-color: var(--navigation-background-color); 
}

nav a {
    color: var(--navigation-link-color); 
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

nav a:hover {
    color: var(--navigation-hover-link-color); 
    background-color: var(--navigation-hover-background-color); 
}
